.git
dist
fly.toml
.gitignore
Dockerfile
docker-compose.yml
docker-compose.dev.yml
docker.env
.dockerignore
node_modules
mongo-data
pgdata
README.md
.env
.env.template
.DS_Store
mongo-init.example.js
test
